.custom-toggler {
    margin-left: 15px; /* Space between title and button */
    margin-bottom: 10px; /* Space between button and expanded menu */
}

.navbar-collapse {
    text-align: right;
}


/* header {
    background-color: #fff;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

/* .logo img {
    height: 40px;
} */
/* 
nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
}

.cta {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
} */
