<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{base :: head}"></head>

<body>
    <header th:replace="~{base :: header}"></header>
    <main>
        <section class="service-intro py-5 bg-light">
            <div class="container text-center">
                <h1>Our Services</h1>
                <p>At SpazSoftware, we offer a range of cutting-edge software solutions to meet your business needs.</p>
            </div>
        </section>

        <section class="detailed-services py-5 bg-light">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-md-6 text-center">
                        <i class="fa fa-code fa-3x mb-3"></i>
                        <h3>Software Development</h3>
                        <p>Custom software solutions tailored to your needs.</p>
                        <a href="https://en.wikipedia.org/wiki/Software_development" class="btn btn-primary mt-3" target="_blank" rel="noopener noreferrer">Learn More</a>

                    </div>
                    <!-- AI & Machine Learning -->
                    <div class="col-md-6 text-center">
                        <i class="fa fa-brain fa-3x mb-3"></i>
                        <h3>AI & Machine Learning</h3>
                        <p>Empowering businesses with smart solutions using the latest AI and ML technologies.</p>
                        <a href="https://en.wikipedia.org/wiki/Machine_learning" target="_blank" rel="noopener noreferrer" class="btn btn-primary mt-3">Learn More</a>
                    </div>

                    <!-- Financial Programming -->
                    <div class="col-md-6 text-center">
                        <i class="fa fa-dollar-sign fa-3x mb-3"></i>
                        <h3>Financial Programming</h3>
                        <p>Robust financial software solutions, from banking apps to transaction systems, algo trading, etc.</p>
                        <a href="https://en.wikipedia.org/wiki/Financial_software" target="_blank" rel="noopener noreferrer" class="btn btn-primary mt-3">Learn More</a>
                    </div>

                    <!-- Healthcare Solutions -->
                    <div class="col-md-6 text-center">
                        <i class="fa fa-medkit fa-3x mb-3"></i>
                        <h3>Healthcare Solutions</h3>
                        <p>Delivering innovative and compliant software for healthcare institutions and professionals.
                        </p>
                        <a href="https://en.wikipedia.org/wiki/Health_informatics" target="_blank" rel="noopener noreferrer" class="btn btn-primary mt-3">Learn More</a>
                    </div>

                    <!-- Web Development -->
                    <div class="col-md-6 text-center">
                        <i class="fa fa-globe fa-3x mb-3"></i>
                        <h3>Web Development</h3>
                        <p>Crafting engaging and responsive websites that captivate and convert visitors.</p>
                        <a href="https://en.wikipedia.org/wiki/Web_development" target="_blank" rel="noopener noreferrer" class="btn btn-primary mt-3">Learn More</a>
                    </div>

                    <!-- Mobile App Development -->
                    <div class="col-md-6 text-center">
                        <i class="fa fa-mobile-alt fa-3x mb-3"></i>
                        <h3>Mobile App Development</h3>
                        <p>Building user-friendly mobile apps that enhance user engagement and business growth.</p>
                        <a href="https://en.wikipedia.org/wiki/Mobile_app_development" target="_blank" rel="noopener noreferrer" class="btn btn-primary mt-3">Learn More</a>
                    </div>

                    <!-- Data Analytics -->
                    <div class="col-md-6 text-center">
                        <i class="fa fa-chart-bar fa-3x mb-3"></i>
                        <h3>Data Analytics</h3>
                        <p>Extracting insights from business data to make informed decisions and strategize effectively.
                        </p>
                        <a href="https://en.wikipedia.org/wiki/Data_analysis" target="_blank" rel="noopener noreferrer" class="btn btn-primary mt-3">Learn More</a>
                    </div>

                    <!-- E-commerce Solutions -->
                    <div class="col-md-6 text-center">
                        <i class="fa fa-shopping-cart fa-3x mb-3"></i>
                        <h3>E-commerce Solutions</h3>
                        <p>End-to-end e-commerce solutions, from engaging storefronts to secure payment gateways.</p>
                        <a href="https://en.wikipedia.org/wiki/E-commerce" target="_blank" rel="noopener noreferrer" class="btn btn-primary mt-3">Learn More</a>
                    </div>

                    <!-- Enterprise Solutions -->
                    <div class="col-md-6 text-center">
                        <i class="fa fa-building fa-3x mb-3"></i>
                        <h3>Enterprise Solutions</h3>
                        <p>Streamlining business operations with ERP, CRM, and other essential management tools.</p>
                        <a href="https://en.wikipedia.org/wiki/Enterprise_software" target="_blank" rel="noopener noreferrer" class="btn btn-primary mt-3">Learn More</a>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer th:replace="~{base :: footer}"></footer>


    <!-- Optional: jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Optional: Bootstrap JS, and any other JS libraries -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>